{
  "extends": [
    "airbnb-base",
    "./node_modules/eslint-config-airbnb-base/rules/best-practices.js",
    "./node_modules/eslint-config-airbnb-base/rules/errors.js",
    "./node_modules/eslint-config-airbnb-base/rules/node.js",
    "./node_modules/eslint-config-airbnb-base/rules/style.js",
    "./node_modules/eslint-config-airbnb-base/rules/variables.js",
    "./node_modules/eslint-config-airbnb-base/rules/es6.js",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "lines-between-class-members": "off",
    "no-dupe-class-members": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
